.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
tsconfig.tsbuildinfo
dist/
.yalc
yalc.lock
*.tgz
.DS_Store
.vscode/
.vercel
.next/
test-results/
webpack-stats.json
